body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed', sans-serif;
}
main {
  max-width: 1200px;
  display: grid;
  margin: 70px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  /* grid-auto-rows: 00px; */
  overflow: hidden;
}
main > div {
  padding: 2px 20px;
  border-radius: 10px;
}
img {
    border-radius: 100%;
    width: 50px;
    float: left;
    margin-right: 20px;
  }
  
div p:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  /* color: red; */
}
.purple {
  background-color: hsl(263, 55%, 52%);
  grid-column: 1/3;
}

.gray {
  background-color: hsl(217, 19%, 35%);
  grid-column: span 1;
}
.dark-gray {
  background-color: hsl(219, 29%, 14%);
  grid-column: span 2;
}
.white {
  background-color: white;
}
.purple p:nth-child(2),
.gray p:nth-child(2),
.dark-gray p:nth-child(2) {
  color: white;
}
.purple p:nth-child(3),
.gray p:nth-child(3),
.dark-gray p:nth-child(3) {
  color: hsl(0, 0%, 81%);
}
.white div .name-title h3 {
  color: hsl(217, 19%, 35%);
}
.white div .name-title h4 {
  color: hsl(0, 1%, 67%);
}
.jeanette {
  grid-column: 1/1;
}
.kira {
  grid-column: 4;
  grid-row: 1/3;
}

.name-title h3 {
  margin-bottom: 0px;
  color: hsl(210, 46%, 95%);
  font-weight: 900;
}
.name-title h4 {
  margin-top: 10px;
  color: hsl(0, 0%, 81%);
}
/* *Media query for Mobile/Tablet (Responsiveness) */
@media screen and (max-width: 1200px) {
  main {
    /* grid-template-columns: 1fr;
     */
    gap: 10px;
  }
  main > div {
    padding: 2px 10px;
  }
}
@media screen and (max-width: 973px) {
  main {
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 800px;
  }
  main > div {
    padding: 2px 10px;
  }
  .purple {
    background-color: hsl(263, 55%, 52%);
    grid-column: 1/5;
  }
  .gray {
    background-color: hsl(217, 19%, 35%);
    grid-column: 1/5;
  }
  .jeanette {
    grid-column: 1/5;
  }
  .dark-gray {
    background-color: hsl(219, 29%, 14%);
    grid-column: 1/5;
  }
  .kira {
    grid-column: 1/5;
    grid-row: 5;
  }
}
@media screen and (max-width: 840px) {
  main {
    max-width: 400px;
  }
}
